/* Estilos para el encabezado */
header {
  background-color: #f2f2f2;
  padding: 20px;
}

header img {
  max-width: 200px;
}

.head {
  margin-top: 20px;
}

.head h1 {
  color: #333;
  font-size: 24px;
}

/* Estilos para los enlaces */
.enlaces {
  margin-top: 20px;
}

.list ul {
  list-style-type: none;
  padding: 0;
}

.list ul li {
  display: inline;
  margin-right: 10px;
}

.list ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Estilos para el contenido */
.des {
  margin-top: 20px;
}

.des h2 {
  color: #333;
  font-size: 20px;
}

.des p {
  color: #666;
  line-height: 1.5;
}

#parrafo {
  font-style: italic;
}

/* Estilos para el pie de página */
.data {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  color: #666;
}
